
.nav-link{
    color: black;
}
.container{
    margin: 50px;
}
.carousel-indicators [data-bs-target] {
    background-color: #FF9D00;
}
.carousel{
    padding: 30px 10px;
}
.buy-now{
    background-color: black;
    color: white;
    border: none;
    padding: 9px 15px;
    border-radius: 8px;
}
.bgcont{
    background-image: url(images/bg-2.png) no-repeat;
    background-position: left;
}

.carousel p{
    color: gray;
}
.page{
    color: #FF9D00;
    font-size: 15px;
}
.headline{
    padding-bottom: 55px;
}
.card{
    border: none;
}
.card-body{
    text-align: center;
    margin: 30px;
    padding: 50px;
}
.card-text{
    color: gray;
}
.sec{
    font-size: 30px;
    padding-bottom: 50px;
}
.cats{
    font-size: 35px;
}
.mages{
    text-align: center;
}
.mages h6{
    margin: 20px;
}

.firstmages{
    justify-content: center;
}
.secondmages{
    padding-top: 30px;
}
.beauty{
    padding-bottom: 110px;
}
